<% @articles.each do |article| %>
  <h1><a href="/articles/<%= article.id %>"><%= article.title %></a></h1>
<% end %>

<form action="/articles" method="post">
  <input type="text" name="title">
  <input type="submit">
</form>
